*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.lil-gui 
{ 
	--background-color: rgb(0, 0, 0);
	--widget-color: #AD88C6;
	--padding: 10px;
    color: snow;
    font-size: 12px;
}